// LESS
@import "grid.less";

@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");

@columns: 8;
@column-width: 200px;
@gutter-width: 0;

// WEB:

	// Main:
* {
	color: #333;
	font-family: "Open Sans Condensed", Sans-Serif;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	background-color: #4d4d4d;
	padding: 0;
	margin: 0;
}

header {
	margin-bottom: 6%;
	width: 100%;
}

#a {
	background-color: #fff;
	.column(7);
	width: 100%;
}

header div {
	.column(7);
}

div#logo {
	padding-left: 10%;
	font-family: "Politica", Sans-Serif;
	//width: 100px;
	font-size: 28px;
	.column(7);
	width: 80%;
	margin-top: 2%;
}

div#bar {
	text-align: center;
	.column(7);
	width: 100%;
}

header input[type=text] {
	.column(5.7);
	//.push(0.20);
	width: 88.5%;
	margin-left: 3%;
	height: 30px;
	border: 5px solid #ececec;
	font-size: 18px;
	padding-left: 4%;
	background: url("images/search.png") no-repeat 4px 4px;
	background-color: #fff;
	vertical-align: middle;
}

	header input[type=text]:focus {
		border-color: #666;
		outline: 0;
	}

header select {
	display: inline-block;
	margin-left: -10%;
	margin-top: 1%;
}

#opcoes {
	.column(6.4);
	display: block;
	width: 100%;
}

.opcao {
	display: inline-block;
	.column(0.914);
	width: 14.28%;
	background-color: rgba(255, 255, 0, 0.5);
	cursor: pointer;
}

#separator {
	//.column(1);
	width: 100%;
	height: 5px;
	vertical-align: top;
}

#container {
	margin-top: 6%;
	background-color: #a5a5a5;
	padding: 25px;

	.column(5);
	.push(0.6);
	width: 78.2%;
	margin-left: 9%;
}

.politico {
	display: inline-block;
	.column(1);

	text-align: center;

	margin-bottom: 3%;
	padding: 2% 0;
}

a .politico:hover {
	box-shadow: 2px 2px 6px #333;
	box-shadow: -1px -1px 6px #333;
	background-color: rgba(255, 255, 255, 0.5);
}

.politico .foto {
	width: 100px;
	height: 100px;

	border-radius: 100%;
	border: 5px solid #fff;
}

.foto.verde {
	border-color: #00ff00;
}

.foto.amarelo {
	border-color: #ffff00;
}

.foto.vermelho {
	border-color: #ff0000;
}

	// Politico:

.candidato {

}

.candidato .info1 {
	background-color: #a5a5a5;
}

.candidato .politico {
	background-color: inherit;
	width: 90%;
	margin-left: 4.5%;
	padding-left: 2%;
	text-align: left;
}

.candidato .politico .foto {
	width: 250px;
	height: 250px;
	display: inline-block;
	vertical-align: middle;
}

.text-info {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	margin-left: 2%;
}

.populometro {
	display: inline-block;
	vertical-align: middle;
}

#comentarios {
	.column(1);
	width: 90%;
	margin-left: 4.5%;
	padding-left: 2%;
	background-color: #a5a5a5;
}

.comentario {
	background-color: #fff;
	border: 2px solid #333;
	padding: 2%;
	margin: 3% 0;
	margin-right: 3%;
}

.comentario .comentador, .origin {
	display: inline-block;
}

.comentador {
	color: #333;
	font-size: 18px;
	margin-right: 10px;
}

.comentador img {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 1%;
}

.origin {
	font-size: 14px;
	color: #999;
}

.origin img {
	width: 25px;
	vertical-align: middle;
}

.impacto {
	color: #999;
}
	
	// Marcadores Gerais:

.hidden {
	width: 0px;
	height: 0px;
	padding: 0px !important;
	margin: 0;
	overflow: hidden;
}

.clear {
	.column(1);
	.push(6);
	height: 50px;
	width: 20px;
	display: block;
}

.smaller {
	height: 25px;
}

.marcado {
	width: 14.28%;
	background-color: #00ff00;
}

// MOBILE:

@media screen and (max-width: 800px) {
	#opcoes {
		display: block;
	}

	.opcao {
		display: block;
		width: 50%;
		border-bottom: 1px solid rgba(33, 33, 33, 0.5);
	}

	.marcado {
		width: 50%;
	}

	.presidente {
		width: 100%;
	}

	.presidente .marcado {
		width: 100vw;
	}
}

@media screen and (max-width: 540px) {
	header input[type=text] {
		width: 85%;
		margin-left: 3%;
		padding-left: 35px;
	}

	body {
		text-align: center;
	}

	#container {
		.column(1.5);
		width: 66%;
		margin-left: 13%;
		margin-top: 10%;
	}

	.politico {
		width: 100%;
	}

	.clear {
		width: 20px;
		height: 25px;
	}

	.candidato .politico {
		margin: 2.5% !important;
	}

	.candidato .politico .foto {
		width: 40vw;
		height: 40vw;
	}

	#comentarios {
		margin: 2.5% !important;
	}

	input[type=range] {
		margin-left: 130%;
	}
}