// LESS
@import "grid.less";

@columns: 8;
@column-width: 200px;
@gutter-width: 0;

// WEB:

	// Main:
* {
	color: #333;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	background-color: #4d4d4d;
	padding: 0;
	margin: 0;
}

header {
	margin-bottom: 50px;
}

#a {
	background-color: #fff;
	.column(7);
	width: 100%;
}

header div {
	.column(7);
}

div#logo {
	padding-left: 90px;
	font-family: "Politica", Sans-Serif;
	//width: 100px;
	font-size: 28px;
	.column(7);
	width: 80%;
}

div#bar {
	text-align: center;
	.column(7);
	width: 100%;
}

header input[type=text] {
	.column(5.7);
	.push(0.25);
	//width: 70%;
	height: 30px;
	border: 5px solid #ececec;
	font-size: 18px;
	padding-left: 35px;
	background: url("images/search.png") no-repeat 4px 4px;
	background-color: #fff;
}

	header input[type=text]:focus {
		border-color: #666;
		outline: 0;
	}

header select {
	border-radius: 0;
	display: inline-block;
	margin-left: -50px;
}

#opcoes {
	.column(6.4);
	display: block;
}

.opcao {
	display: inline-block;
	.column(0.914);
	background-color: rgba(255, 255, 0, 0.5);
	cursor: pointer;
}

#separator {
	background-color: #ffff00;
	.column(1);
	height: 10px;
	width: 100%;
}

#container {
	margin-top: 50px;
	background-color: #a5a5a5;
	//width: 850px;
	padding: 25px;

	.column(5);
	.push(0.6);
}

.politico {
	display: inline-block;
	.column(1);

	text-align: center;

	margin-bottom: 25px;
	padding: 25px 0;
}

a .politico:hover {
	box-shadow: 2px 2px 6px #333;
	box-shadow: -1px -1px 6px #333;
	background-color: rgba(255, 255, 255, 0.5);
}

.politico .foto {
	width: 100px;
	height: 100px;

	border-radius: 100%;
	border: 5px solid #fff;
}

.foto.verde {
	border-color: #00ff00;
}

.foto.amarelo {
	border-color: #ffff00;
}

.foto.vermelho {
	border-color: #ff0000;
}

.clear {
	.column(1);
	.push(6);
	height: 50px;
	width: 20px;
	display: box;
}

.marcado {
	background-color: blue;
}

// MOBILE:

@media screen and (max-width: 960px) {
	header {
		.column(5);
	}

	header div {
		.column(5);
	}

	#logo {
		.column(5);
		margin: 0;
		text-align: center;
	}

	header input[type=text] {
		.column(5);
	}

	#container {
		.column(5);
	}

	#info1 {
		.column(5);
		.push(0);
	}
}